.container {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-elevation-z8 {
    width: 100%;
    overflow-x: auto;
  }
  
  .no-data-message {
    margin-top: 10px;
    text-align: center;
    color: #999;
  }
  